[submodule "pyswap/libs/WOFOST_crop_parameters"]
	path = pyswap/libs/WOFOST_crop_parameters
	url = https://github.com/zawadzkim/WOFOST_crop_parameters.git
[submodule "docs/tutorials"]
	path = docs/tutorials
	url = https://github.com/SWAP-model/pyswap-tutorials.git
