# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
cache/

# Virtual Environments
venv/
env/
env.bak/
env1/
env2/
.env

# IDEs
.vscode/
.idea/

# Compiled files
*.dll
*.so
*.dylib

# Logs and databases
*.log
*.sqlite
*.db

# Miscellaneous
.DS_Store
Thumbs.db

*.egg-info
/docs/build
/docs/source
*.bat
Makefile
CD_Erika/
RD_Erika/
2. opeil/
.data
.examples